<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>小说分类</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/common.css">
</head>
<body>
<% include component/topNavbar.ejs%>
<!--导航栏-->
<div class="header">
    <ul>
        <li><a href="/">首页</a></li>
        <li class="active"><a href="/bookSort">分类</a></li>
        <li><a href="/bookRank/1">排行</a></li>
        <li><a href="/bookState/1">全本</a></li>
        <li><a href="/bookShelf">书架</a></li>
    </ul>
</div>
<%include component/search.ejs%>
<div class="container">
<div class="row sortType">
    <ul class="col-sm-12">
        <input class="btn btn-default col-sm-4 col-xs-4 active" type="button" value="玄幻小说" onclick="getData(1, 1)">
        <input class="btn btn-default col-sm-4 col-xs-4" type="button" value="仙侠小说" onclick="getData(2, 1)">
        <input class="btn btn-default col-sm-4 col-xs-4" type="button" value="都市小说" onclick="getData(3, 1)">
        <input class="btn btn-default col-sm-4 col-xs-4" type="button" value="历史小说" onclick="getData(4, 1)">
        <input class="btn btn-default col-sm-4 col-xs-4" type="button" value="游戏小说" onclick="getData(5, 1)">
        <input class="btn btn-default col-sm-4 col-xs-4" type="button" value="科幻小说" onclick="getData(6, 1)">
        <input class="btn btn-default col-sm-4 col-xs-4" type="button" value="言情小说" onclick="getData(7, 1)">
        <input class="btn btn-default col-sm-4 col-xs-4" type="button" value="同人小说" onclick="getData(8, 1)">
        <input class="btn btn-default col-sm-4 col-xs-4" type="button" value="灵异小说" onclick="getData(9, 1)">
        <input class="btn btn-default col-sm-4 col-xs-4" type="button" value="奇幻小说" onclick="getData(10, 1)">
        <input class="btn btn-default col-sm-4 col-xs-4" type="button" value="竞技小说" onclick="getData(11, 1)">
        <input class="btn btn-default col-sm-4 col-xs-4" type="button" value="武侠小说" onclick="getData(12, 1)">
        <input class="btn btn-default col-sm-4 col-xs-4" type="button" value="军事小说" onclick="getData(13, 1)">
        <input class="btn btn-default col-sm-4 col-xs-4" type="button" value="校园小说" onclick="getData(14, 1)">
        <input class="btn btn-default col-sm-4 col-xs-4" type="button" value="官场小说" onclick="getData(15, 1)">
        <input class="btn btn-default col-sm-4 col-xs-4" type="button" value="商战小说" onclick="getData(16, 1)">
        <input class="btn btn-default col-sm-4 col-xs-4" type="button" value="职场小说" onclick="getData(17, 1)">
    </ul>
</div>
</div>

<!--相应类型书籍列表-->
<div class="container">
    <div class="intro">排行榜</div>
    <div class="row">
        <ul class="col-sm-12" id="bookList">

        </ul>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <!--<div class="page">-->
                <button  class="btn btn-primary" id="firstPage">首页</button>
                <button  class="btn btn-primary" id="prevPage">上一页</button>
                <button  class="btn btn-primary" id="nextPage">下一页</button>
                <button  class="btn btn-primary" id="lastPage">尾页</button>
                <label>
                    (第<span id="pageIndex"></span>/<span id="pageCount"></span>页)
                    当前<span id="pageSize"></span>条/页
                </label>
            <!--</div>-->
        </div>
        <div class=" col-sm-12" style="margin-top: 15px">
            <div class="input-group form-group">
                <input type="text" class="form-control" placeholder="输入页数" id="searchPageIndex">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="jumpPage()">跳转</button>
            </span>
            </div>
        </div>

    </div>
</div>
<%- include component/footer.ejs %>
<script>
    var typeId=1;
    var pageSize=20;
    var pIndex=1;
    var pageCount =1;
    $(function(){
        getData(1,1);
    })
    $('.sortType input').click(function () {
        $(this).siblings('input').removeClass('active');
        $(this).addClass('active');
    })
    // bookTypeId:查找书籍类型 pageIndex：相应页面 pageSize：每页大小
    function getData(bookTypeId, pageIndex){
        console.log(bookTypeId, pageIndex);
        $('.blank').css('display','none');
        if(pageIndex<1 || (pageCount>0 && pageIndex > pageCount)){
            alert("访问页面超过范围！");
            return;
        }
        typeId = bookTypeId; pIndex= pageIndex;
        var data={bookTypeId: bookTypeId, pageIndex: pageIndex, pageSize: pageSize};
        // getSortBook
        $.post(hostUrl + '/bookSort', data,
            function (result) {
                if (result.success) {
                    var html = '';
                    for(var i = 0; i < result.data.length; i++)
                    {
                        html += '<p class="line">';
                        html += '<span href="#">[' + result.data[i].bookTypeName + ']</span>';
                        html += '<a href= "/bookInfo/' + result.data[i].bookId + '" class="blue">'+ result.data[i].bookName +'</a>/';
                        html += '<a href="/author/' + result.data[i].authorName +'">'+ result.data[i].authorName + '</a>';
                        html += '</p>';
                    }
                    console.log(result);
                    if(result.data.length){
                        document.getElementById('bookList').innerHTML = html;
                    }else{
                        document.getElementById('bookList').innerHTML = '<p ' +
                            'style="color:red;font-size: 18px;text-align: center;">当前分类没有数据！</p>';
                    }
                    pageCount = result.pageCount;
                    checkState(pageIndex, pageCount);
                    $('#pageIndex').text(pageIndex);
                    $('#pageCount').text(pageCount);
                    $('#pageSize').text(pageSize);
                    // $("html,body").animate({scrollTop:$("#bookList").offset().top}, 300);
                } else {
                    alert("获取数据失败");
                }
            }
        )
        switch (bookTypeId) {
            case 1: $('.intro').text('玄幻小说');break;
            case 2: $('.intro').text('仙侠小说');break;
            case 3: $('.intro').text('都市小说');break;
            case 4: $('.intro').text('历史小说');break;
            case 5: $('.intro').text('游戏小说');break;
            case 6: $('.intro').text('科幻小说');break;
            case 7: $('.intro').text('言情小说');break;
            case 8: $('.intro').text('同人小说');break;
            case 9: $('.intro').text('灵异小说');break;
            case 10: $('.intro').text('奇幻小说');break;
            case 11: $('.intro').text('竞技小说');break;
            case 12: $('.intro').text('武侠小说');break;
            case 13: $('.intro').text('军事小说');break;
            case 14: $('.intro').text('校园小说');break;
            case 15: $('.intro').text('官场小说');break;
            case 16: $('.intro').text('商战小说');break;
            case 17: $('.intro').text('职场小说');break;
        }
    }
    $('#firstPage').click(
        function () {
            getData(typeId, 1);
        }
    )
    $('#prevPage').click(
        function () {
            getData(typeId, pIndex-1);
        }
    )
    $('#nextPage').click(
        function () {
            getData(typeId, pIndex+1);
        }
    )
    $('#lastPage').click(
        function () {
            getData(typeId, pageCount);
        }
    )
    function checkState(pageIndex, pageCount) {
        // 如果在首页且总共只有一页
        if(pageIndex == 1 && pageIndex == pageCount){
            $('#firstPage').prop('disabled',true);
            $('#prevPage').prop('disabled',true);
            $('#nextPage').prop('disabled',true);
            $('#lastPage').prop('disabled',true);
        }
        // 如果在首页且总共有多页
        else if(pageIndex == 1 && pageIndex < pageCount){
            $('#firstPage').prop('disabled',true);
            $('#prevPage').prop('disabled',true);
            $('#nextPage').prop('disabled',false);
            $('#lastPage').prop('disabled',false);
        }
        // 如果不在首页且不在尾页
        else if(pageIndex > 1 && pageIndex < pageCount){
            $('#firstPage').prop('disabled',false);
            $('#prevPage').prop('disabled',false);
            $('#nextPage').prop('disabled',false);
            $('#lastPage').prop('disabled',false);
        }
        // 如果在尾页
        else if(pageIndex > 1 && pageIndex == pageCount){
            $('#firstPage').prop('disabled',false);
            $('#prevPage').prop('disabled',false);
            $('#nextPage').prop('disabled',true);
            $('#lastPage').prop('disabled',true);
        }
    }
    function jumpPage() {
        if( parseInt(pIndex) == parseInt($('#searchPageIndex').val())-1){
            return;
        }
        getData(typeId, $('#searchPageIndex').val());
    }

</script>
</body>
</html>
