<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>笔趣阁小说阅读</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/common.css">
</head>
<body>
<% include component/topNavbar.ejs%>
<% include component/header.ejs%>
<div class="container" style="margin-top: 15px">
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <label class="control-label sr-only" for="searchBook">搜索框</label>
            <div class="input-group form-group">
                <input type="text" class="form-control" value="<%= userInfo.keyword%>" placeholder="输入书名/作者名查找" id="inputBook">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="searchBook" onclick="searchBook()">搜索</button>
            </span>
            </div>
        </div>
    </div>
</div>
<!--相应类型书籍列表-->
<div class="container">
    <div class="intro">搜索结果</div>
    <div class="row">
        <ul class="col-sm-12" id="bookList">

        </ul>
    </div>
</div>

<%- include component/footer.ejs %>
<script>
    var type = '<%= userInfo.type%>';
    init();
    // 搜索书
    function searchBook() {
        $('#searchBook').prop('disabled', true);
        var keyWord = $('#inputBook').val();
        if(keyWord==''){
            return;
        }
        window.location.href = '/search/'+keyWord;
        $('#searchBook').prop('disabled', false);
    }
    function init() {
        $('#searchBook').prop('disabled', true);
        var keyWord = $('#inputBook').val();
        console.log(keyWord);
        console.log(type);
        $.post('http://192.168.0.109:3000/search', {keyWord: keyWord, type: type},function (result) {
            console.log(result.data);
            if (result.success) {
                console.log(result.data);
                var html = '';
                for (var i = 0; i < result.data.length; i++) {
                    html += '<p class="line">';
                    html += '<span href="#">[' + result.data[i].bookTypeName + ']</span>';
                    html += '<a href= "/bookInfo/' + result.data[i].bookId + '" class="blue">' + result.data[i].bookName + '</a>/';
                    html += '<a href="/author/' + result.data[i].authorName + '">' + result.data[i].authorName + '</a>';
                    html += '</p>';
                }
                if(result.data.length){
                    document.getElementById('bookList').innerHTML = html;
                }else{
                    document.getElementById('bookList').innerHTML =
                        '<p style="color:red;font-size: 18px;text-align: center;">没有查找到数据！</p>';
                }
            }
        })
        $('#searchBook').prop('disabled', false);
    }


</script>