<style>
.footer {
    height: 100px;
    background: #ECF0F0;
    padding: 3px 0 0;
    border-top: 1px solid #f1f1f1;
    text-align: center;
    position: relative;
    z-index: 999;
}
.footer ul {
    padding: 10px 0px 0px 0px;
    margin: 0px;
    clear: both;
    height: 30px;
}
.footer li {
    float: left;
    text-align: center;
    width: 25%;
    font-size: 16px;
    padding: 0px;list-style: none;
}
</style>
<div class="footer" style="margin-top: 60px">
    <ul>
        <li><a href="/">首页</a></li>
        <li><a href="/">友情链接</a></li>
        <li><a href="/bookShelf">书架</a></li>
        <li><a href="#">回到顶部<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a></li>
    </ul>
</div>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--<script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>-->