<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>笔趣阁小说阅读</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/common.css">
</head>
<body>
<% include component/topNavbar.ejs%>

<!--导航栏-->
<div class="header">
    <ul>
        <li class="active"><a href="/">首页</a></li>
        <li><a href="/crawlBookData">测试页</a></li>
        <li><a href="/bookSort">分类</a></li>
        <li><a href="/bookRank/1">排行</a></li>
        <li><a href="/bookState/1">全本</a></li>
        <li><a href="/bookShelf">书架</a></li>
    </ul>
</div>
<%include component/search.ejs%>
<!--相应类型书籍列表-->
<div class="container">
    <div class="intro"><span>点击排行</span><a href="/bookRank/1" style="float: right">更多>>></a></div>
    <div class="row">
        <ul class="col-sm-12" id="bookVisit_homePage">

        </ul>
    </div>
</div>
<!--相应类型书籍列表-->
<div class="container">
    <div class="intro"><span>收藏排行</span><a href="/bookRank/2" style="float: right">更多>>></a></div>
    <div class="row">
        <ul class="col-sm-12" id="bookCollect_homePage">

        </ul>
    </div>
</div>
<!--相应类型书籍列表-->
<div class="container">
    <div class="intro"><span>新书上架</span><a href="/bookState/1" style="float: right">更多>>></a></div>
    <div class="row">
        <ul class="col-sm-12" id="bookNew_homePage">

        </ul>
    </div>
</div>
<!--相应类型书籍列表-->
<div class="container">
    <div class="intro"><span>最近更新</span><a href="/bookState/2" style="float: right">更多>>></a></div>
    <div class="row">
        <ul class="col-sm-12" id="bookUpdate_homePage">

        </ul>
    </div>
</div>
<%- include component/footer.ejs %>
<script>
    var httpUrl=[
        hostUrl + '/rank/getCount',
        hostUrl + '/home/recommend',
    ];
    $(
        function () {
            getTopList(1, 'bookVisit_homePage');
            getTopList(2, 'bookCollect_homePage');
            getTopList(3, 'bookNew_homePage');
            getTopList(4, 'bookUpdate_homePage');
        }
    )
    function getTopList(type, listType){
        $.post(httpUrl[1],{selectType: type},
            function (result) {
                if (result.success) {
                    var html = '';
                    html += '<div class="bookInfo_homePage">'
                    html += '<div class="bookImg_homePage"><img class="img-thumbnail" alt="封面" id="bookImg" src="'+result.data[0].bookImg+'"></div>';
                    html += '<div class="bookDetail_homePage">' +
                        '<p><a href="/bookInfo/'+ result.data[0].bookId +'">'+ result.data[0].bookName +'</a></p>' +
                        '<p>作者：<a href="/author/'+ result.data[0].authorName +'">'+result.data[0].authorName+'</a></p>' +
                        '<p>分类：'+ result.data[0].bookTypeName+ '</p>' +
                        '<p class="bookIntro_homePage">简介：'+ result.data[0].Introduction+ '</p>' +
                        '</div></div>';
                    for(var i = 1; i < result.data.length; i++){
                        html += '<p class="line">';
                        html += '<span href="#">[' + result.data[i].bookTypeName + ']</span>';
                        html += '<a href= "/bookInfo/' + result.data[i].bookId + '" class="blue">'+ result.data[i].bookName +'</a>/';
                        html += '<a href="/author/' + result.data[i].authorName +'">'+ result.data[i].authorName + '</a>';
                        html += '</p>';
                    }
                    document.getElementById(listType).innerHTML = html;
                }
            }
        );
    }
</script>
</body>
</html>
