<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户注册</title>
    <style>
        body{
            background-color: #f8f8f8!important;
        }
        .form {
            position: absolute;
            top: 36%;
            left: 50%;
            margin: -160px 0 0 -160px;
            width: 320px;
            /*height: 520px;*/
            padding: 36px;
            box-shadow: 0 0 100px rgba(0, 0, 0, .08);
        }
        .form .logo{
            text-align: center;
            height: 40px;
            width: 200px;
            line-height: 40px;
            cursor: pointer;
            margin-bottom: 14px;
            /*padding-left: 10px;*/
        }
        .logo img{
            width: 40px;
            float: left;
        }

        .form .logo span {
            vertical-align: text-bottom;
            font-size: 16px;
            text-transform: uppercase;
            display: inline-block;
        }
    </style>
</head>
<body>
    <div class="form">
        <div class="logo">
            <img alt="logo" src="/images/headImgDefault.png">
            <span>欢迎注册新账号</span>
        </div>
        <!--action="/reg"  method="post"-->
        <form class="form-horizontal">
            <div class="form-group">
                <!--<label for="inputName" class="control-label col-xs-3">帐号</label>-->
                <div class="col-xs-12">
                    <input type="text" class="form-control" id="inputName" name="name" placeholder="输入用户名" value="">
                </div>
            </div>
            <div class="form-group">
                <!--<label for="inputEmail" class="control-label col-xs-3">帐号</label>-->
                <div class="col-xs-12">
                    <input type="email" class="form-control" id="inputEmail" name="email" placeholder="输入邮箱">
                </div>
            </div>
            <div class="form-group">
                <!--<label for="inputEmail" class="control-label col-xs-3">帐号</label>-->
                <div class="col-xs-12">
                    <div class="col-xs-7" style="padding-left: 0px">
                        <input type="text" class="form-control" id="verifyCode" name="verifyCode" placeholder="输入验证码">
                    </div>
                    <button class="btn btn-primary col-xs-5" id="getVerifyCode">获取验证码</button>
                            <!--data-toggle="modal" data-target=".bs-example-modal-sm"-->
                    <div class="modal fade bs-example-modal-sm" id="myModal"
                         tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="gridSystemModalLabel">邮件发送提示</h4>
                                </div>
                                <div class="modal-body">
                                    <div id="modal-msg"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <!--<label for="inputPhone" class="control-label col-xs-3">帐号</label>-->
                <div class="col-xs-12">
                    <input type="tel" class="form-control" id="inputPhone" name="phone" placeholder="输入电话">
                </div>
            </div>
            <div class="form-group">
                <!--<label for="inputPwd" class="control-label col-xs-3">密码</label>-->
                <div class="col-xs-12">
                    <input type="password" class="form-control" id="inputPwd" name="pwd" placeholder="输入密码" value="">
                </div>
            </div>
            <div class="form-group">
                <!--<label for="inputPwd2" class="control-label col-xs-3">密码</label>-->
                <div class="col-xs-12">
                    <input type="password" class="form-control" id="inputPwd2" name="pwd2" placeholder="再次输入密码">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <span class="col-xs-12" id="info"></span>
                </div>
            </div>
            <div class="form-group">
                <!--<label for="inputPwd" class="control-label col-xs-3"></label>type="submit" -->
                <div class="col-xs-12">
                    <button class="btn btn-primary col-xs-12" id="register">注 册</button>
                </div>
            </div>
            <div class="form-group">
                <!--<label for="inputPwd" class="control-label col-xs-3"></label>-->
                <div class="col-xs-12">
                    <a class="btn btn-default col-xs-12" href="/login" role="button">记得密码？返回登陆</a>
                    <!--<a class="col-xs-12" style="background-color: blue" href="/login" role="link">返回登陆</a>-->
                </div>
            </div>
        </form>
    </div>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/md5.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
<script>
    var verifyCode;
    $('form').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            name: {
                message: '用户名验证失败',
                validators: {
                    notEmpty: {
                        message: '用户名不能为空'
                    },
                    stringLength: {
                        min: 4,
                        max: 30,
                        message: '用户名最少4位最长30位'
                    },
                    // regexp: {
                    //     regexp: /^[a-zA-Z0-9]+$/,
                    //     message: '用户名只能是数字和字母'
                    // },
                    different: {
                        field: 'password',
                        message: '账号不能和密码相同'
                    },
                    threshold :  4 , //设置4字符以上开始请求服务器
                    //有待验证，备注以备下次使用。
                    //bootstrap的remote验证器需要的返回结果一定是json格式的数据 :
                    //{"valid":false} //表示不合法，验证不通过
                    //{"valid":true} //表示合法，验证通过
                    remote: {//发起Ajax请求。
                        url: '/userName',//验证地址
                        // data:{name:$('input[name="name"]').val() },
                        message: '用户名已存在',//提示消息
                        delay :  2000,//设置2秒发起名字验证
                        type: 'POST' //请求方式
                    }
                }
            },
            email: {
                validators: {
                    notEmpty: {
                        message: '邮箱地址不能为空'
                    },
                    emailAddress: {
                        message: '非法邮箱地址'
                    },
                    threshold :  4 , //设置4字符以上开始请求服务器
                    //有待验证，备注以备下次使用。
                    //bootstrap的remote验证器需要的返回结果一定是json格式的数据 :
                    //{"valid":false} //表示不合法，验证不通过
                    //{"valid":true} //表示合法，验证通过
                    remote: {//发起Ajax请求。
                        url: '/userEmail',//验证地址
                        message: '邮箱已存在',//提示消息
                        delay :  2000,//设置2秒发起名字验证
                        type: 'POST' //请求方式
                    }
                }
            },
            verifyCode:{
                validators: {
                    notEmpty: {
                        message: '验证码不能为空'
                    },
                    stringLength: {
                        min: 6,
                        max: 6,
                        message: '验证码6位'
                    },
                    regexp: {
                        regexp: /^[0-9]+$/,
                        message: '验证码只能是数字'
                    },
                }
            },
            phone:{
                validators: {
                    notEmpty: {
                        message: '电话不能为空'
                    },
                    stringLength: {
                        min: 11,
                        max: 11,
                        message: '电话号码11位'
                    },
                    regexp: {
                        regexp: /^[0-9]+$/,
                        message: '电话号码只能是数字'
                    },
                    threshold :  11 , //设置4字符以上开始请求服务器
                    //有待验证，备注以备下次使用。
                    //bootstrap的remote验证器需要的返回结果一定是json格式的数据 :
                    //{"valid":false} //表示不合法，验证不通过
                    //{"valid":true} //表示合法，验证通过
                    remote: {//发起Ajax请求。
                        url: '/userPhone',//验证地址
                        // data:{name:$('input[name="name"]').val() },
                        message: '电话号码已存在',//提示消息
                        delay :  2000,//设置2秒发起名字验证
                        type: 'POST' //请求方式
                    }
                }
            },
            pwd: {
                validators: {
                    notEmpty: {
                        message: '密码不能为空'
                    },
                    different: {
                        field: 'name',
                        message: '密码不能和账号相同'
                    },
                    stringLength: {
                        min: 4,
                        message: '密码最少为8位'
                    }
                }
            },
            pwd2: {
                validators: {
                    notEmpty: {
                        message: '确认密码不能为空'
                    },
                    different: {
                        field: 'name',
                        message: '确认密码不能和账号相同'
                    },
                    identical: {  //比较是否相同
                        field: 'pwd',  //需要进行比较的input name值
                        message: '两次密码不一致'
                    },
                    stringLength: {
                        min: 4,
                        message: '密码最少为4位'
                    }
                }
            }
        }
    });
    // 发送验证码
    $('#getVerifyCode').click(
        function () {
            var email = $('#inputEmail').val();
            var name = $('#inputName').val();
            if (email.length == 0 || name.length == 0) {
                alert("用户名和邮箱不能为空！");
                return;
            } else {
                $.post('http://192.168.0.109:3000/sendEmail',{userName: name,userEmail: email},
                    function (result) {
                        console.log(result);
                        if(result.success){
                            var sec = "<p>邮件发送成功，请到<a href=mailto:"+email;
                            var sec1 = ">"+email+"</a>查看验证码</p>";
                            $('#modal-msg').html(sec+sec1);
                            $('#myModal').modal('show');
                            verifyCode = result.msg;
                        }else{
                            alert(result.msg);
                        }
                    });
            }
        }
    );
    // 发送验证码
    $('#register').click(
        function () {
        var name = $('#inputName').val();
        var email = $('#inputEmail').val();
        var vCode = $('#verifyCode').val();
        var phone = $('#inputPhone').val();
        var pwd = $('#inputPwd').val();
        var pwd2 = $('#inputPwd2').val();
        var state = false;
        if (email.length === 0 || name.length === 0 ||verifyCode.length === 0 ||phone.length === 0 ||pwd.length === 0 ||pwd2.length === 0) {
            alert("输入不能为空！");
            return;
        }
        if(verifyCode !== $.md5(vCode)){
            alert("验证码错误！");
            return;
        }
        if(pwd !== pwd2){
            alert("两次输入密码不一致");
            return;
        }
        $.post('http://192.168.0.109:3000/reg/checkState',{name: name, email: email, phone: phone},
            function (result) {
                //如果用户名/邮箱/电话号码已存在
                console.log(result);
                if(result.success){
                    state = true;
                    alert(result.msg);
                }
            });
        //如果用户名/邮箱/电话号码不存在
        if(!state){
            $.post('http://192.168.0.109:3000/reg',{name: name, email: email, phone: phone, pwd: pwd},
                function (result) {
                    console.log(result);
                    if(result.success){
                        alert(result.msg);
                        window.location.href = '/login';
                    }else{
                        alert(result.msg);
                        return;
                    }
                });
        }
    });
</script>
</body>
</html>
