<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户个人信息</title>
</head>
<body>
<nav class="nav nav-tabs  navbar-inverse" role="navigation" id="myTab">
    <div class="container-fluid col-md-offset-1">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">主页</a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li role="presentation" class="active"><a href="#userInfo" data-toggle="tab">基本信息</a></li>
                <li role="presentation"><a href="#profile" data-toggle="tab">账户信息</a></li>
                <li role="presentation"><a href="#regInfo" data-toggle="tab">登录信息</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="userInfo">
        <div class="row">
            <!--右边侧内容区占10个栅格-->
            <div class="col-md-offset-1 col-md-10">
                <div class="col-md-11">
                    <h3 class="page-header">个人基本信息</h3>
                    <div class="">
                        <form  class="form-horizontal" action="/uploadFile" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="uploadImg" class="col-md-2 control-label">头像:</label>
                                <div class="col-md-3" id="uploadImg">
                                    <img class="img-thumbnail" alt="头像"  id="headImg" src="/images/headImgDefault.png"
                                         style="width: 140px; height: 140px;">
                                </div>
                                <div class="col-md-1">
                                    <input type="file" style="float: left;margin-bottom: 10px;margin-top: 10px" name="myfile" id="myfile"/>
                                    <input type="submit" class="btn btn-primary" value="上传图片" id="upload"/>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="">
                        <form class="form-1 form-horizontal" action="/updateProfile" method="post">
                            <div class="form-group">
                                <label for="inputNickName" class="col-md-2 control-label">昵称:</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="inputNickName" name="nickName" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSex" class="col-md-2 control-label">性别:</label>
                                <div class="col-md-6" id="inputSex">
                                    <label class="radio-inline">
                                        <input type="radio" name="sex" id="inlineRadio1" value="0" checked> 保密
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="sex" id="inlineRadio2" value="1"> 男
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="sex" id="inlineRadio3" value="2"> 女
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputTextarea" class="col-md-2 control-label">个性签名:</label>
                                <div class="col-md-6">
                                    <textarea class="form-control" rows="3" placeholder="" name="signature"
                                              maxlength="160" id="inputTextarea"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputTextarea" class="col-md-2 control-label"></label>
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-primary" id="updateProfile">保存修改</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--个人账号信息修改-->
    <div class="tab-pane fade" id="profile">
        <div class="row">
        <div class="col-md-offset-1 col-md-10">
        <div class="col-md-11">
        <div class="">
            <h3 class="page-header">个人账号信息</h3>
            <form class="form-2 form-horizontal" action="/updateAccount"  method="post">
                <div class="form-group">
                    <label for="inputName" class="control-label col-md-2">用户名:</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="inputName" name="name" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="control-label col-md-2">邮箱:</label>
                    <div class="col-md-6">
                        <input type="email" class="form-control" id="inputEmail" name="email" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPhone" class="control-label col-md-2">电话:</label>
                    <div class="col-md-6">
                        <input type="tel" class="form-control" id="inputPhone" name="phone" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPwd" class="control-label col-md-2"></label>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary col-xs-12" id="updateAccount">修改资料</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
        </div>
        </div>
    </div>

    <div class="tab-pane fade" id="regInfo">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="col-md-11">
                    <div class="form-3">
                        <h3 class="page-header">个人账号信息</h3>
                        <form class="form-horizontal" action="/updateAccount"  method="post">
                            <div class="form-group">
                                <label for="inputPwd" class="control-label col-md-2">新密码:</label>
                                <div class="col-md-6">
                                    <input type="password" class="form-control" id="inputPwd" name="pwd" placeholder="" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPwd2" class="control-label col-md-2">确认密码:</label>
                                <div class="col-md-6">
                                    <input type="password" class="form-control" id="inputPwd2" name="pwd2" placeholder="" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="verifyCode" class="control-label col-md-2">邮箱验证:</label>
                                <div class="col-md-6" >
                                    <input type="text" class="form-control" id="verifyCode" name="verifyCode" placeholder="输入验证码">
                                </div>
                                <div class="modal fade bs-example-modal-sm" id="myModal"
                                     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                    <div class="modal-dialog modal-sm" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="gridSystemModalLabel">邮件发送提示</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div id="modal-msg"></div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="getVerifyCode" class="control-label col-md-2"></label>
                                <div class="col-md-6" >
                                    <button class="btn btn-primary col-xs-12" id="getVerifyCode">获取验证码</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="modifyPwd" class="control-label col-md-2"></label>
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-primary col-xs-12" id="modifyPwd">修改密码</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
<script>
    $(function() {
        $('.form-1').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                nickName: {
                    message: '用户名验证失败',
                    validators: {
                        notEmpty: {
                            message: '用户名不能为空'
                        },
                        stringLength: {
                            min: 3,
                            max: 30,
                            message: '用户名最少4位最长30位'
                        }
                    }
                },
            }
        });
        $('.form-2').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                name: {
                    message: '用户名验证失败',
                    validators: {
                        notEmpty: {
                            message: '用户名不能为空'
                        },
                        stringLength: {
                            min: 3,
                            max: 30,
                            message: '用户名最少4位最长30位'
                        }
                    }
                },
                email: {
                    validators: {
                        notEmpty: {
                            message: '邮箱地址不能为空'
                        },
                        emailAddress: {
                            message: '非法邮箱地址'
                        }
                    }
                },
                phone: {
                    validators: {
                        notEmpty: {
                            message: '电话不能为空'
                        },
                        stringLength: {
                            min: 11,
                            max: 11,
                            message: '电话号码11位'
                        },
                        regexp: {
                            regexp: /^[0-9]+$/,
                            message: '电话号码只能是数字'
                        },
                    }
                },
            }
        });
        $('.form-3').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                pwd: {
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                        stringLength: {
                            min: 4,
                            message: '密码最少为8位'
                        }
                    }
                },
                pwd2: {
                    validators: {
                        notEmpty: {
                            message: '确认密码不能为空'
                        },
                        identical: {  //比较是否相同
                            field: 'pwd',  //需要进行比较的input name值
                            message: '两次密码不一致'
                        },
                        stringLength: {
                            min: 4,
                            message: '密码最少为4位'
                        }
                    }
                },
                verifyCode:{
                    validators: {
                        notEmpty: {
                            message: '验证码不能为空'
                        },
                        stringLength: {
                            min: 6,
                            max: 6,
                            message: '验证码6位'
                        },
                        regexp: {
                            regexp: /^[0-9]+$/,
                            message: '验证码只能是数字'
                        },
                    }
                },
            }
        });
    })
    //从服务器获取的数据
    var headImg, inputNickName, inputSex, inputTextarea;
    //修改后的表单数据
    var userEmail, userPhone;
    $(function () {
        //选项卡切换
        $('#myTab li:eq(1)a').tab('show');
        // 获取用户资料
        $.get('/getProfile',function ( res) {
                if(res.code == 200){
                    console.log(res.data);
                    headImg = res.data.headImg;
                    inputNickName = res.data.nickName;
                    inputSex = res.data.sex;
                    inputTextarea = res.data.signature;
                    if(headImg !=''){
                        changeImg(1, headImg);
                    }
                    $('#inputNickName').val(inputNickName);
                    $("input:radio[name=sex]").eq(inputSex).attr("checked",true);
                    $('#inputTextarea').val(inputTextarea);
                }else{
                    alert(res.msg);
                }
            }
        );
        // 获取用户资料
        $.get('/getAccount',function ( res) {
                if(res.code == 200){
                    console.log(res.data);
                    inputNickName = res.data.nickName;
                    userEmail = res.data.userEmail;
                    userPhone = res.data.userPhone;
                    $('#inputName').val(inputNickName);
                    $('#inputEmail').val(userEmail);
                    $('#inputPhone').val(userPhone);
                }else{
                    alert(res.msg);
                }
            }
        );
    });
    //监控读取文件
    $('#myfile').change(
        function(){
            changeImg(0, "thisSrc");
        }
    )
    //加载新的图片源
    function changeImg (sel, src) {
        console.log(src);
        var localURL = window.webkitURL || window.URL;
        if (sel == 1) {
            //如果有自己的头像，从服务器端加载
            $('#headImg').attr('src', src);
        } else {
            //从本地加载
            var thisSrc = localURL.createObjectURL(document.getElementById('myfile').files[0]);//当前的地址
            $('#headImg').attr('src', thisSrc);
        }
    }
    // 发送验证码
    $(function() {
        $('#getVerifyCode').click(
            function () {
                var email = $('#inputEmail').val();
                var name = $('#inputName').val();
                //alert('用户名 '+ name +'邮箱 '+email);
                console.log('用户名 '+ inputNickName +'邮箱 '+email);
                if (email.length == 0 || name.length == 0) {
                    alert("用户名和邮箱不能为空！"+'用户名 '+ name +'邮箱 '+email);
                    return;
                } else {
                    $.post('/sendEmail',{userName: name,userEmail: email},function (result) {
                            if(result.code == 200){
                                var sec = "<p>邮件发送成功，请到<a href=mailto:"+email;
                                var sec1 = ">"+email+"</a>查看验证码</p>";
                                console.log(sec+sec1);
                                $('#modal-msg').html(sec+sec1);
                                $('#myModal').modal('show');
                            }else{
                                alert("邮件发送失败");
                            }
                            // alert(JSON.stringify(result));
                            // $('#content').text(JSON.stringify(result));
                        }
                    );
                }
            }
        );
    });
</script>
</body>
</html>
