<!--底部导航-->
<div class="footer">
    <ul>
        <li><a href="/">首页</a></li>
        <li><a href="/">友情链接</a></li>
        <li><a href="/bookShelf">书架</a></li>
        <li><a href="#">回到顶部<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a></li>
    </ul>
</div>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/javascripts/common.js"></script>