<!--导航栏-->
<div class="header">
    <ul>
        <li class="active"><a href="/">首页</a></li>
        <li><a href="/bookSort">分类</a></li>
        <li><a href="/bookRank/1">排行</a></li>
        <li><a href="/bookState/1">全本</a></li>
        <li><a href="/bookShelf">书架</a></li>
    </ul>
</div>